.container {
	display: flex;
	gap: 30px;
	margin-bottom: 20px;
}

.poster-wrapper {
	flex: 1 1 500px
}

.poster {
	width: 100%;
}

.info-wrapper {
	flex: 1 2 1040px;
}

.name {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: -10px;
}

.name div {
	width: 10%;
	margin-left: auto;
	margin-bottom: auto;
}

.name svg {
	height: 100%;
	width: 100%;
}

.logo {
	width: 85%;
}

.info-wrapper th,
.info-wrapper td {
	font-size: 25px;
	border: none;
	color: var(--fontcolor);
	padding: 8px;
	vertical-align: top;
}

.info-wrapper th {
	color: var(--fontcolor-gray);
	min-width: 320px;
}

.limit {
	padding: 5px;
	border: 2px solid var(--fontcolor);
}