.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.list {
	display: flex;
	flex-direction: column;
	margin: 8px auto 20px;
}

.list a {
	text-decoration: none;
}

.item {
	display: flex;
	align-items: flex-start;
}

.movie {
	border-radius: 8px;
	width: 100%;
	padding: 12px;
	display: flex;
	gap: 24px;
}

.movie:hover {
	background-color: var(--gray-dark);
}

.container {
	flex: 0 0 20%;
}

.container>img {
	width: 100%;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex: 1 1 auto;
}

.info div {
	display: flex;
}

.info button {
	margin-left: auto;
}

.rating {
	display: flex;
	align-items: center;
	font-size: 36px;
	color: var(--yellow);
}