.header {
	height: 80px;
	background-color: var(--background-dark);
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 0 24px;
}

.user {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 25px;
}