.carousel {
	width: 1530px;
	margin: 0 auto;
}

.header {
	height: 50px;
	width: 100%;
	margin-bottom: 24px;
	display: flex;
	align-items: center;
	gap: 16px;
}

.content {
	overflow-x: hidden;
}

.list {
	position: relative;
	display: flex;
	gap: 30px;
	transition: right 300ms linear;
}