.container {
	max-width: 1600px;
	width: 100%;
	flex: 1 0 auto;
	margin: 30px auto 0;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container input[type="text"]~fieldset,
.container input[type="password"]~fieldset {
	font-size: 20px;
}

.container label,
.container input {
	font-size: 20px;
}